# Игнорировать все
*

# Отменить игнорирование для .gitignore (сам файл)
!.gitignore

# Отменить игнорирование для конкретных директорий (добавьте косую черту в конце)
# !/my_allowed_directory/
# !/another_allowed_directory/

# Отменить игнорирование для конкретных файлов
# !/my_allowed_file.txt
# !/src/main.py

# !/config.yaml
